@media only screen and (max-width: 1000px){
    #parent{
        min-width: 100vw;
        max-width: 100vw;
    }
    #Friends{
        max-width: 15%;
        min-width: 15%;
    }

}



.Parent{
    width: 100.1vw;
    height: 100vh;
    background: #2A2A2A;
    display: flex;
}

.container{
    color: white;
    border-width: 1px;
    border-color: #4C4C4C;
    border-style: solid;
}

#Friends{
    display: flex;
    width: 10%;
    height: 99%;
    background-color: #2A2A2A;
    justify-content: top;
    flex-direction: column;
    align-items: center;
}

#frtxt{
    width: 100%;
    resize: none;
    height:3%;
    font-size: 75%;
    border-radius: 10%;
    background-color: #4C4C4C;
    color:#dddddd;
    text-align: center;
}

#frbtn{
    width: 100%;
    height: 5vh;
    background-color: #003049;
    color: white;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 100%;
}

#frbtn:hover{
    background-color: white;
    color: #003049;
    transition-duration: .1s;
}

#frbtn:active{
    background-color:#003049;
    color: white;
}

.FriendItem{
    width: 100%;
    height: 5vh;
    font-size: 100%;
    background-color: #003049;
    color: white;
    border-color: white;
    border-width: 0px;
}

#FriendsList{
    height: 100%;
    width: 100%;
}

.FriendItem:hover
{
    background-color: #073e5c;
}

.FriendItem:active
{
    background-color: #185c80;
}

#Chat{
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-color: #4C4C4C;
    border-style: solid;
}

#chatHeader{
    width: 100%;
    height: 10%;
    background-color:#2A2A2A;
    border-bottom-color: #8D918D;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#chatContainer{
    width: 100%;
    height:80%;
    background-color:#2A2A2A;
    overflow: auto;
    text-align:justify;
}

.msg{
    width: 100%;
    height: 50px;
    font-size: large;
}
.msg:hover{
   background-color:#4C4C4C;
}

.Cinfo{
    display: flex;
    margin-top: 10px;
    font-size: medium;
    color:#8D918D;
}

.Cname{
    margin-right: 10px;
    font-size: large;
    color:#3cbbff;
    font-weight: 500;
}

.Cdate{
    font-size: small;
}

.Cmessage{
    font-size:large;
    margin-bottom: 100px;
}



#inputContainer{
    width: 100%;
    height: 9%;
    background-color:#2A2A2A;
    border-width: 1px;
    border-color: #4C4C4C;
    border-style: solid;
    display: flex;
    align-items: center;
}

#txt{
    width: 100%;
    resize: none;
    height: 90%;
    font-size: 150%;
    border-radius: 10px;
    background-color: #4C4C4C;
    color:#dddddd;

}

#btn{
    width: 20%;
    height: 50%;
    background-color: #003049;
    color: white;

}

#btn:hover{
    background-color: white;
    color: #003049;
    transition-duration: .1s;
}

#btn:active{
    background-color:#003049;
    color: white;
}