@media only screen and (max-width: 1000px){
    .container{
        color: white;
        border-width: 1px;
        border-color: #4C4C4C;
        border-style: solid;
        min-width: 90vh;
        min-height: 99.5vh;
    }
}



.Parent{
    display: flex;
    align-items:flex-start;
    min-height: 100vh;
    min-width: 100vw;
    background: #2A2A2A;
    flex-direction: row;
}

.container{
    color: white;
    border-width: 1px;
    border-color: #4C4C4C;
    border-style: solid;
    min-width: 90vh;
    min-height: 99.5vh;
}

#Friends{
    display: flex;
    max-width: 30vh;
    min-width: 30vh;
    min-height: 90vh;
    max-height: 90vh;
    background-color: #2A2A2A;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    

}

#frtxt{
    min-width: 1vh;
    resize: none;
    height:3vh;
    font-size: 150%;
    border-radius: 10px;
    background-color: #4C4C4C;
    color:#dddddd;
}

#frbtn{
    width: 20vh;
    height: 4vh;
    background-color: #003049;
    color: white;
    margin-top: 1px;
    margin-bottom: 5px;
}

#frbtn:hover{
    background-color: white;
    color: #003049;
    transition-duration: .1s;
}

#frbtn:active{
    background-color:#003049;
    color: white;
}

.FriendItem{
    width: 30vh;
    height: 5vh;
    font-size: x-large;
    background-color: #003049;
    color: white;
    border-color: white;
    border-width: 0px;

}

.FriendItem:hover
{
    background-color: #073e5c;
}

.FriendItem:active
{
    background-color: #185c80;
}

#Chat{
    min-width: 163vh;
    border-width: 1px;
    border-color: #4C4C4C;
    border-style: solid;
}


#chatHeader{
    min-width: 50vh;
    min-height:10vh;
    background-color:#2A2A2A;
    border-bottom-color: #8D918D;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#chatContainer{
    min-width: 50vh;
    height:80vh;
    background-color:#2A2A2A;
    overflow: auto;
    text-align:justify;
}

.msg{
    width: 163.3vh;
    height: 50px;
    font-size: large;
}
.msg:hover{
   background-color:#4C4C4C;
}

.Cinfo{
    display: flex;
    margin-top: 10px;
    font-size: medium;
    color:#8D918D;
}

.Cname{
    margin-right: 10px;
    font-size: large;
    color:#3cbbff;
    font-weight: 500;
}

.Cdate{
    font-size: small;
}

.Cmessage{
    font-size:large;
    margin-bottom: 100px;
}



#inputContainer{
    min-width: 50vh;
    min-height:9vh;
    
    background-color:#2A2A2A;
    border-width: 1px;
    border-color: #4C4C4C;
    border-style: solid;
    display: flex;
    align-items: center;
}

#txt{
    min-width: 145vh;
    resize: none;
    height:8vh;
    font-size: 150%;
    border-radius: 10px;
    background-color: #4C4C4C;
    color:#dddddd;

}

#btn{
    width: 100vh;
    height: 9vh;
    background-color: #003049;
    color: white;

}

#btn:hover{
    background-color: white;
    color: #003049;
    transition-duration: .1s;
}

#btn:active{
    background-color:#003049;
    color: white;
}