.parent{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #003049;
    flex-direction: column;
}

.spacer{
    margin-top: 25vh;
}

#title{
    color:white;
}

.txtin{
    margin: 5px;
    width: 250px;
    height: 50px;
    font-size: x-large;
    border-radius: 10px;
    border-style: solid;
    background-color: #bcbebc;
    transition-duration: .5s;
    border-color: gray;
    outline:none;
    
}

.link{
    color:#bcbebc;
    margin-top: 1%;
}

.txtin:hover{
    width: 255px;
    height: 55px;
    border-color: #085d8b;
    border-width: 2px;


}

.btn
{
    margin-top: 30px;
    width: 250px;
    height: 50px;
    transition-duration: .5s;
    color: black;
    background: #bcbebc;
    border-color: transparent;
    font-size: medium;
}

.btn:hover
{

    color: #bcbebc;
    background: rgba(255, 255, 255, 0);
    border-color: #bcbebc;
    font-size: larger;

}